header{
    margin: auto;
}


body{
    font-family: "Arial Black", serif;
    color: #9361bf;
    letter-spacing: normal;
    background-color: #cccccc;

}

#info input{
    font-size: 16px;
    cursor: pointer;
    height: 2rem;
}

.header{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9361bf;
}
.submit{
    width: 20rem;
    height: 8rem;
    margin-left: 3rem;
    font-size: 20px;
    cursor: pointer;
}
.form{
    font-size: 1.9rem;

}
.submitButton{
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    cursor: pointer;
}
